<div class="tudo">
  <input type="text" [(ngModel)]="nomeCategoria" class="input" placeholder="     Insira a categoria...">
  <p class="cat">Categoria: {{nomeCategoria}}</p>
  
  <div [ngSwitch]="nomeCategoria">
      <section *ngSwitchCase="'terror'">
          <ul *ngFor="let filme of categoriaTerror">
              <li>Titulo: {{filme.name}}</li>
              <h3>Ano de lançamento: {{filme.anoLancamento}}</h3>
              <h3>Diretor: {{filme.diretor}}</h3>
              <h3>Descrição: {{filme.description}}</h3>
              <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
          </ul>
      </section>
      <section *ngSwitchCase="'drama'">
          <ul *ngFor="let filme of categoriaDrama">
            <li>Titulo: {{filme.name}}</li>
              <h3>Ano de lançamento: {{filme.anoLancamento}}</h3>
              <h3>Diretor: {{filme.diretor}}</h3>
              <h3>Descrição: {{filme.description}}</h3>
              <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
          </ul>
      </section>
      <section *ngSwitchCase="'romance'">
          <ul *ngFor="let filme of categoriaRomance">
            <li>Titulo: {{filme.name}}</li>
              <h3>Ano de lançamento: {{filme.anoLancamento}}</h3>
              <h3>Diretor: {{filme.diretor}}</h3>
              <h3>Descrição: {{filme.description}}</h3>
              <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
          </ul>
      </section>
      <section *ngSwitchCase="'mafia'">
        <ul *ngFor="let filme of categoriaMafia">
          <li>Titulo: {{filme.name}}</li>
              <h3>Ano de lançamento: {{filme.anoLancamento}}</h3>
              <h3>Diretor: {{filme.diretor}}</h3>
              <h3>Descrição: {{filme.description}}</h3>
            <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
        </ul>
    </section> 
    <section *ngSwitchCase="'guerra'">
      <ul *ngFor="let filme of categoriaGuerra">
        <li>Titulo: {{filme.name}}</li>
              <h3>Ano de lançamento: {{filme.anoLancamento}}</h3>
              <h3>Diretor: {{filme.diretor}}</h3>
              <h3>Descrição: {{filme.description}}</h3>
          <img src="{{filme.imagem}}" alt="" style="height: 200px; width: 150px;">
      </ul>
  </section>  
  </div>
</div>
<router-outlet></router-outlet>